{{> navbar}}
{{#if error}}
<div>{{error}}</div>
{{/if}}
<form action="/todos/{{todo.id}}?_method=PUT" method="POST" style="display: inline">
  <input type="checkbox" name="isComplete" value="completed" {{#if todo.isComplete}} checked {{/if}}>
  <input type="text" placeholder={{todo.name}} name="name" value="{{todo.name}}">
  <button type="submit">Save</button>
  <a href="/todos">back</a>
</form>
<form action="/todos/{{todo.id}}?_method=DELETE" method="POST" style="display: inline">
  <button type="submit">delete</button>
</form>

